<section id="about" class="flex flex-col px-[12%] sm:flex-row flex-wrap justify-center items-center md:gap-x-[10%] xl:gap-x-[5%] bg-black py-[12%] relative overflow-hidden">

    <!-- Left-Box -->
    <article class="relative md:w-[40%] xl:w-[40%] z-20">
        <img src="../../public/img-about.webp" alt="" class=" scale-60 sm:scale-70 md:scale-75 z-10">

        <div class="relative z-20 flex justify-center items-center right-[-30%] bottom-25 md:bottom-14 md:left-[30%] xl:bottom-16 xl:left-[15%]">
            <!-- Text Ellipse -->
            <img src="../../public/Text-aboutme.svg" alt="" class="absolute z-20 rotate-y-18 scale-35 sm:scale-45 md:scale-40 lg:scale-45 xl:scale-50">
    
            <!-- Star Pixel -->
            <img src="../../public/Star-home.svg" alt="" class="absolute z-10  rotate-y-18 xl:scale-95 md:scale-90 sm:scale-95 scale-80">
            <img src="../../public/Star2-aboutme.svg" alt="" class="absolute z-10  rotate-y-18 xl:scale-20 md:scale-20 sm:scale-30 scale-20">
        </div>  
        
        <!-- Star fill and stroke -->
        <div class="">
            <img src="../../public/Star-home2.svg" alt="" class="scale-70 sm:scale-100 absolute top-14 left-2 md:-left-2 md:scale-75 xl:scale-90 brightness-80 z-10">
            <img src="../../public/Star-home2-stroke.svg" alt="" class="scale-70 sm:scale-100 -z-10 absolute top-15 md:scale-75 xl:scale-90 md:-left-3 left-1 brightness-80 ">

        </div>
        <!-- Ellipse -->
        <img src="../../public/Ellipse-aboutme.svg" alt="" class="absolute -z-10 xl:scale-90 xl:top-[25%] xl:left-[2%] md:scale-90 md:top-[25%] md:left-[0%] top-[30%] scale-80 rotate-180">
        
    </article>

    <!-- Right-Box -->
    <article class="relative mt-[5%] md:w-[50%] xl:w-[40%] z-20">
        <p class="text-secondary sm:text-left text-center text-xl xl:text-2xl md:text-[20px] text-pretty font-geist font-thin selection:bg-primary border-description leading-9 tracking-wider">
            I'm Alexis, an <span class="font-roboto font-normal px-0.5 selection:bg-primary selection:text-secondary bg-primary text-bg tracking-tighter">Frontend Developer</span> from Montevideo, dedicated
            to crafting impactful digital
            experiences for global brands &
            individuals. Let's team up!
        </p>
        <img src="../../public/Star-aboutme.svg" alt="" class="absolute top-[-35%] right-[-2%] -rotate-14 scale-150">
    </article>

   <!-- Elements Svg -->

    
    
    
    
</section>

<style>
    img {
        pointer-events: none;
    }

    section{
        background-image: url("../../public/gradient-grain-dark.webp");
    }
</style>