<header class=" text-white flex justify-between items-center lg:gap-4 lg:h-auto lg:py-2 py-3 px-[5%] h-fit font-light border-b border-[#80808060]">
    
    <a target="_blank" href="#" class="flex flex-row items-center gap-1">
        <img src="../../public/symbol.svg" alt="" class="scale-90 lg:scale-100">
        <h1 class="font-geist text-lg lg:text-2xl tracking-tighter font-semibold">Alexis</h1>
    </a>

    <ul class="gap-12 font-roboto font-normal uppercase lg:text-[16px] lg:flex hidden tracking-wider text-secondary">
        <a href="#project">Projects</a>
        <a href="#about">About</a>
    </ul>

    
</header>