---
import Menu from "../components/Menu"
---

<header class="fixed z-150 top-0 text-white flex justify-between items-center lg:gap-4 lg:h-auto  w-full 2xl:py-4 lg:py-2 md:py-2 py-2 px-[5%] border-b border-[#80808060] backdrop-blur-lg">
    
    <a href="#" class="flex flex-row items-center gap-1">
        <img id="logo" src="../../public/symbol.svg" alt="" class="scale-90 lg:scale-100 2xl:scale-125">
        <h1 class="font-geist text-lg sm:text-xl md:text-2xl lg:text-2xl 2xl:text-3xl tracking-tighter font-semibold">Alexis</h1>
    </a>

    <ul class="gap-12 font-roboto font-light uppercase lg:text-[16px] lg:flex hidden tracking-wider text-secondary">
      <a href="#project">Projects</a>
      <a href="#about" >About Me</a>
    </ul>

    <Menu client:visible/>

  
    
</header>

<script>
  import { gsap } from "gsap";

  gsap.from("#logo",{
    duration: 1.2,
    x: -200,
    ease: "elastic.out(1, 1)",
    delay: 0.5,
    rotate: 430,
    scale: 0.5,
  })
</script>