---
import '@fontsource-variable/roboto';
import "@fontsource-variable/geist";
import '@fontsource-variable/playfair-display/wght-italic.css';
import '../styles/global.css'
import Cursor from '../components/Cursor';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body class="bg-bg overflow-x-hidden ">
		<slot />
		<Cursor client:visible/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
	html{
		scroll-behavior: smooth;
	}

	.masked-text {
    position: absolute;
    color: #ed5b2b;
    clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
    -webkit-clip-path: circle(var(--mask-size) at var(--mask-x) var(--mask-y));
    transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
    pointer-events: none;
    z-index: 50;
  }
</style>

